#about {
  width: auto;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 200px;
  margin-right: 100px;
  text-align: justify;
}

.me {
  margin-left: auto;
  height: 200px;
  width: auto;
  float: left;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 50%;
}

.my-name {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 16px;
  font-weight: bold;
}

.bio, .bio-two, .bio-three {
  margin-bottom: 1rem;
  line-height: 140%;
  max-width: 624px;
}
