h2 {
  font-family: "Montserrat";
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
  text-align: center;
  margin-bottom: 1em;
  font-weight: bold;
  color: #3A4660;
  text-transform: uppercase;
  font-size: 2.25em;
}

h3 {
  font-family: "Montserrat";
  text-align: center;
  text-transform: uppercase;
  color: #3A4660;
  font-size: 1.875em;
  margin-bottom: 0.5em;
}

h4 {
  font-family: "Sacramento";
  font-style: italic;
  margin-bottom: 1em;
  font-size: 2.25em;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.08em;
  color: #FECB5E;
  text-transform: lowercase;
}

h5 {
  font-family: "Montserrat";
  font-style: normal;
  text-align: left;
  margin-bottom: 1em;
  font-size: 1em;
}

h6 {
  font-family: "Montserrat";
  font-style: normal;
  margin-bottom: 1em;
  font-size: 1.125em;
  font-weight: bold;
  max-width: 624px;
  text-transform: uppercase;
  color: #3A4660;
}

p {
  font-family: "Montserrat";
  margin: 0 auto;
  font-size: 1em;
  text-align: left;
  line-height: 180%;
  max-width: 624px;
  margin-bottom: 2em;
}

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 65%, rgba(145, 172, 200, 0.5) 45%);
}

/**HERO**/
#everyday-hero {
  width: 100%;
  height: 32em;
}

/**NAVIGATION BAR**/
#project-navigation {
  margin-top: 2em;
}

ul.project-navbar {
  list-style: none;
  font-size: 0.75em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  padding: 0;
  font-weight: bold;
}

.project-navbar li a:hover {
  color: #FECB5E;
}

/**OVERVIEW**/

ul.listing {
  text-align: center;
  list-style-type: none;
  line-height: 180%;
}

.listing li {
  text-align: center;
  list-style-type: none;
  line-height: 180%;
}

body {
  font-family: "Montserrat";
  font-size: 1em;
  line-height: 180%;
}

#overview-section {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  height: auto;
  text-align: center;
  overflow: hidden;
}

.overview-header {
  margin-left: 6em;
  margin-right: 6em;
  margin-bottom: 0.5em;
  font-style: normal;
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
  color: #3A4660;
}

.overview-summary {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  margin-top: 0.5em;
  text-align: center;
  color: black;
  text-transform: lowercase;
  font-size: 1.250em;
  font-weight: normal;
  font-family: "Montserrat";
}

.desktop-prototype-primary-btn {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  background-color: #3A4660;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #3A4660;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

.mobile-prototype-primary-btn {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  background-color: #3A4660;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #3A4660;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

.project-details {
  font-size: 1em;
  margin-top: 3rem;
  margin-bottom: 5rem;
  text-align: center;
  margin-left: 4em;
  margin-right: 4em;
}

.role-icon, .deliverable-icon, .design-icon {
  align-items: center;
  width: 3.5em;
  margin-bottom: 1em;
}

.roles {
  width: 33%;
  float: left;
  text-align: center;
}

.deliverable {
  display: inline-block;
  text-align: center;
  width: 33%;
}

.design-tools {
  float: right;
  text-align: center;
  width: 33%;
}

.box-challenge {
  width: 50%;
  float: left;
}

.box-problem {
  width: 50%;
  float: right;
}

.challenge-title, .challenge-subtitle, .problem-title, .problem-subtitle {
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
}

.challenge-desc, .problem-desc {
  text-align: left;
  margin-left: 6em;
  margin-right: 6em;
}

#discovery-section {
  overflow: hidden;
  height: auto;
}

.comp {
  margin-left: 23em;
  margin-bottom: 2em;
}

.google, .evernote, .pinterest {
  width: 3em;
  height: auto;
  margin-left: 3em;
  margin-right: 3em;
}

.swot-primary-btn {
  display: block;
  width: 250px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  color: #3A4660;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 2em;
}

.user-survey {
  padding: 2em;
  background-color: rgba(201, 175, 152, 0.1);
}
.daily, .responsive, .bookmark, .collaboration {
  width: 2.5em;
  height: auto;
  margin-bottom: 1em;
  margin-left: 6.5em;
  margin-right: 6.5em;
}

.result-one, .result-two, .result-three, .result-four {
  margin: 0 auto;
}

.percentage {
  font-size: 0.875em;
  width: 65%;
  text-align: center;
}

.percentages {
  margin-left: 6em;
  margin-right: 6em;
  margin: 0 auto;
  margin-bottom: .5em;
}

.results {
  column-count: 4;
  margin-left: 3em;
  margin-right: 3em;
  column-gap: auto;
  column-width: 100%;
}

.user-personas {
  margin-top: 2em;
  margin-bottom: 2em;
}

.persona-one {
  text-align: center;
  width: 38%;
  float: left;
  margin-left: 6em;
  margin-right: 6em;
  font-size: .75em;
}

.persona-one h5 {
  text-align: center;
  margin: 0;
}

.motivations {
  text-align: left;

}

.persona-two {
  margin-right: 6em;
  text-align: center;
  margin-left: 6em;
  width: 38%;
  float: right;
  font-size: .75em;
}

.persona-two h5 {
  text-align: center;
  margin: 0;
}

.emma {
  width: 15em;
  height: 20em;
  border-style: 2px solid #3A4660;
  border-radius: 8px;
}

.jake {
  width: 15em;
  height: 20em;
  border-style: 2px solid #3A4660;
  border-radius: 8px;
}

/**BEGIN INFORMATION**/

#information-section {
  overflow: hidden;
  height: auto;
}

.example-mvp {
  margin: 0 auto;
  text-align: left;
  font-style: italic;
  color: #3A4660;
  font-weight: bold;
}

.example-mvp-image {
  margin: 0 auto;
  width: 60%;
  margin-top: 2em;
  margin-left: 15em;
  margin-right: 15em;
}

.MVP-title {
  margin: 0 auto;
}

.MVP-subtitle {
  font-style: italic;
  color: #3A4660;
  font-weight: bold;
  margin-bottom: 1em;
}

.MVP-items li {
  text-align: left;
  list-style: initial;
  margin-left: 20em;
  margin-bottom: 1em;
}

.user-flow-primary-btn {
  display: block;
  width: 250px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  color: #3A4660;
  border-radius: 8px;
  font-weight: bold;
}

.contact-btns1 a:hover {
  color: #FECB5E;
  text-decoration: underline;
}
/**END INFORMATION**/

/**BEGIN WIREFRAME**/

#wireframe-section {
  overflow: hidden;
  height: auto;
  width: 100%;
}

.wireframe-image-one {
  float:left;
  margin-left: 8rem;
  width: 36%;
  border-width: thin;
  border-style: solid;
  border-color: black;
}

.wireframe-image-two {
  width: 36%;
  border-width: thin;
  border-style: solid;
  border-color: black;
  float: right;
  margin-right: 8rem;
}

.wireframe-image-three {
  margin-top: 1rem;
  float:left;
  margin-left: 8rem;
  width: 36%;
  border-width: thin;
  border-style: solid;
  border-color: black;
}

.wireframe-image-four {
  margin-top: 1rem;
  width: 36%;
  border-width: thin;
  border-style: solid;
  border-color: black;
  float: right;
  margin-right: 8rem;
}

.feedback {
  max-width: 624px;
  font-style: italic;
  line-height: 150%;
  list-style-type: circle;
}

.usability-subsection-header {
  margin-top: 45rem;
}

/**END WIREFRAME**/


#branding-section {
  overflow: hidden;
  height: auto;
  width: 100%;
}

.logo-image, .typo-image, .color-image {
  margin-left: 8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 8rem;
}

.color-image {
  width: 25rem;
}

#visual-section {
  overflow: hidden;
  height: auto;
  width: 100%;
}

.hifi-subsection-header {
  margin-bottom: 2rem;
}

.hifi-one, .hifi-two, .hifi-three, .hifi-four {
  margin-top: 2rem;
  width: 20%;
  height: auto;
  margin-left: 8rem;
  border-width: thin;
  border-style: solid;
  border-color: black;
}

.preference-desc {
  margin-top: 2rem;
  max-width: 360px;
}

#lessons-section {
  overflow: hidden;
  height: auto;
  width: 100%;
}

.contact-header {
  font-size: 2.25em;
}

/**MOBILE**/
@media (min-width: 320px) and (max-width: 575px) {
  .everyday-hero {
    margin: 0 auto;
    width: 100%;
  }

  #project-navigation {
    display: none;
  }

  .overview-header {
    font-size: 2em;;
  }
  .overview-summary {
    font-size: 1em;
  }
  .desktop-prototype-primary-btn {
    margin-bottom: 1em;
    display: block;
    width: 190px;
    margin-left: 2em;
  }

  .mobile-prototype-primary-btn {
    margin-bottom: 1em;
    width: 190px;
    margin-right: 2em;
  }
  .project-details {
    font-size: 12px;
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
  }
  h1 {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.5em;
  }

  h2 {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.5em;
    font-size: 1.25em;
  }

  h3 {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.5em;
    font-size: 1em;
    max-width: 80%;
  }

  h4 {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    font-size: .875em;
    max-width: 80%;
  }

  h5 {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    font-size: .65em;
    max-width: 624px;
  }

  h6 {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1rem;
    font-size: 0.875em;
    max-width: 624px;
  }

  p {
    margin-left: 2em;
    margin-right: 2em;
    font-size: .875rem;
    text-align: left;
    margin-bottom: 1rem;
    max-width: 624px;
  }

  .challenge-title, .challenge-subtitle, .problem-title, .problem-subtitle, .challenge-desc, .problem-desc {
    text-align: center;
    margin: 0 auto;
  }

  .box-challenge, .box-problem  {
    width: 100%;
    margin: 0 auto;
  }

  .copyright p{
    font-size: 1em;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  .social-media {
    margin: 5em;
    padding-bottom: .5em;
  }

  #discovery-section {
    overflow: hidden;
    height: auto;
    margin-top: 20rem;
  }
  .comp {
    height: auto;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .competitive-desc {
    width: 80%;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .persona-one {
    width: 80%;
    margin: 0;
  }

  .persona-two {
    margin-top: 2em;
    width: 80%;
  }

  .user-survey {
    margin-top: 8rem;
    margin-bottom: 5rem;
    width: 100%;
  }
  .daily, .responsive, .bookmark, .collaboration {
    width: 60%;
    height: auto;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2rem;
  }
  .result-one, .result-two, .result-three, .result-four {
    width: 100%;
    margin: 0 auto;
  }
  .survey-desc {
    margin-bottom: 3rem;
    margin-left: 2em;
    margin-right: 2em;
    width: 80%;
  }
  .percentage {
    font-size: .875em;
    margin-left: 2em;
    margin-right: 2em;
    width: 50%;
  }

  .percentages {
    font-size: 2em;
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
  }

  .results {
    column-count: 2;
    margin-right: 2em;
    margin-left: 2em;
    column-gap: auto;
    column-width: 100%;
  }
  #information-section {
    height: auto;
    width: 100%;
  }

  .MVP-items {
    margin-left: 2em;
    line-height: 150%;
  }

  .example-mvp {
    margin-top: 2rem;
  }

  .example-mvp-image {
    width: 80%;
    margin-left: 2em;
    margin-right: 2em;
    align-items: center;
  }
  #wireframe-section {
    height: auto;
    margin-top: 5em;
    width: 100%;
  }

  .wireframe-image-one {
    margin-left: 2em;
    margin-right: 2em;
    width: 80%;
  }

  .wireframe-image-two {
    margin-left: 2em;
    margin-right: 2em;
    width: 80%;
    float: left;
    margin-top: 1em;
  }

  .wireframe-image-three {
    margin-left: 2em;
    margin-right: 2em;
    width: 80%;
  }

  .wireframe-image-four {
    float: left;
    margin-left: 2em;
    margin-right: 2em;
    width: 80%;
    margin-bottom: 2em;
  }

  .feedback {
    margin-left: 2em;
    margin-right: 2em;
    width: 80%;
    list-style-type: circle;
  }
  #branding-section {
    height: auto;
    margin-top: 20em;
    width: 100%;
  }

  .logo-image, .typo-image, .color-image {
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 2rem;
    margin-right: 2em;
    width: 30em;
  }

  .color-image {
    width: 20em;
  }

  #visual-section {
    height: auto;
    width: 100%;
  }

  .hifi-subsection-header {
    margin-bottom: 2rem;
    margin-left: 2em;
  }
  .hifi-one, .hifi-two, .hifi-three, .hifi-four {
    width: 50%;
  }


  .preference-desc {
    text-align: left;
    width: 100%;
  }

  #lessons-section {
    height: auto;
    width: 100%;
  }

}
