h2 {
  font-family: "Montserrat";
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em;
  text-align: center;
  margin-bottom: 1em;
  font-weight: bold;
  color: #3A4660;
  text-transform: uppercase;
  font-size: 2.25em;
}

h3 {
  font-family: "Montserrat";
  text-align: center;
  text-transform: uppercase;
  color: #3A4660;
  font-size: 1.875em;
  padding-top: 1em;
  padding-bottom: 1em;
}

h4 {
  font-family: "Sacramento";
  font-style: italic;
  padding-bottom: 1em;
  font-size: 2.25em;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.08em;
  color: #FECB5E;
  text-transform: lowercase;
}

h5 {
  font-family: "Montserrat";
  font-style: normal;
  text-align: left;
  margin-bottom: 1em;
  font-size: 1em;
}

h6 {
  font-family: "Montserrat";
  font-style: normal;
  margin-bottom: 1em;
  font-size: 1.125em;
  font-weight: bold;
  max-width: 624px;
  text-transform: uppercase;
  color: #3A4660;
}

p {
  font-family: "Montserrat";
  margin: 0 auto;
  font-size: 1em;
  text-align: left;
  line-height: 180%;
  max-width: 624px;
  padding-bottom: 2em;
}

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 55%, rgba(145, 172, 200, 0.5) 45%);
}

/**HERO**/
#everyday-hero {
  width: 100%;
  height: auto;
}

.everyday-hero {
  width: 100%;
  height: 10%;
}

/**NAVIGATION BAR**/
#project-navigation {
  margin-top: 2em;
}

ul.project-navbar {
  list-style: none;
  font-size: 0.75em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  padding: 0;
  font-weight: bold;
}

.project-navbar li a:hover {
  color: #FECB5E;
}

/**OVERVIEW**/

ul.listing {
  text-align: center;
  list-style-type: none;
  line-height: 180%;
}

.listing li {
  text-align: center;
  list-style-type: none;
  line-height: 180%;
}

body {
  font-family: "Montserrat";
  font-size: 1em;
  line-height: 180%;
}

#overview-section {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  height: auto;
  text-align: center;
  overflow: hidden;
}

.overview-header {
  margin-left: 6em;
  margin-right: 6em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-style: normal;
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
  color: #3A4660;
}

.overview-summary {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  margin-top: 0.5em;
  text-align: center;
  color: black;
  text-transform: lowercase;
  font-size: 1.250em;
  font-weight: normal;
  font-family: "Montserrat";
}

.desktop-prototype-primary-btn {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  background-color: #3A4660;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #3A4660;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

.mobile-prototype-primary-btn {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  background-color: #3A4660;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #3A4660;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

.project-details {
  font-size: 1em;
  margin-top: 3rem;
  margin-bottom: 5rem;
  text-align: center;
  margin-left: 4em;
  margin-right: 4em;
}

.role-icon, .deliverable-icon, .design-icon {
  align-items: center;
  width: 3.5em;
  margin-bottom: 1em;
}

.roles {
  width: 33%;
  float: left;
  text-align: center;
}

.deliverable {
  display: inline-block;
  text-align: center;
  width: 33%;
}

.design-tools {
  float: right;
  text-align: center;
  width: 33%;
}

.box-challenge {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 50%;
  height: 420px;
  float: left;
  background-color: rgba(201, 175, 152, 0.1);
}

.box-problem {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 50%;
  height: 420px;
  float: right;
  background-color: rgba(201, 175, 152, 0.1);
}

.challenge-title, .challenge-subtitle, .problem-title, .problem-subtitle {
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
}

.challenge-desc, .problem-desc {
  text-align: left;
  margin-left: 6em;
  margin-right: 6em;
}

#discovery-section {
  overflow: hidden;
  height: auto;
}

.comp {
  margin-left: 23em;
  margin-bottom: 2em;
}

.google, .evernote, .pinterest {
  width: 3em;
  height: auto;
  margin-left: 3em;
  margin-right: 3em;
}

.swot-primary-btn {
  display: block;
  width: 250px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  color: #3A4660;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 2em;
}

.user-survey {
  background-color: rgba(201, 175, 152, 0.1);
  padding-bottom: 2em;
}
.daily, .responsive, .bookmark, .collaboration {
  width: 2.5em;
  height: auto;
  margin-bottom: 1em;
  margin-left: 6.5em;
  margin-right: 6.5em;
}

.result-one, .result-two, .result-three, .result-four {
  margin: 0 auto;
}

.percentage {
  font-size: 0.875em;
  width: 65%;
  text-align: center;
}

.percentages {
  margin-left: 6em;
  margin-right: 6em;
  margin: 0 auto;
  margin-bottom: .5em;
}

.results {
  column-count: 4;
  margin-left: 3em;
  margin-right: 3em;
  column-gap: auto;
  column-width: 100%;
}

.user-personas {
  margin-top: 2em;
  margin-bottom: 2em;
}

.persona-one {
  text-align: center;
  width: 30%;
  float: left;
  margin-left: 8em
}

.persona-one h5 {
  text-align: center;
    margin-bottom: 1em;
}

.motivations, .frustrations {
  text-align: left;
}

.name {
  font-size: 1.5em;
  margin-bottom: 0;
}

.persona-two {
  margin-right: 8em;
  text-align: center;
  width: 30%;
  float: right;
}

.persona-two h5 {
  text-align: center;
  margin-bottom: 1em;
}

.emma {
  width: 10em;
  height: 14em;
  border-radius: 20px;
}

.jake {
  width: 10em;
  height: 14em;
  border-radius: 20px;
}

/**BEGIN INFORMATION**/
#information-section {
  overflow: hidden;
  height: auto;
}

.info-subsection-header {
}
.user-flows {
  background-color: rgba(201, 175, 152, 0.1);
}
.example-mvp {
  padding-top: 2em;
  margin: 0 auto;
  text-align: left;
  font-style: italic;
  color: #3A4660;
}

.example-mvp-image {
  margin: 0 auto;
  width: 65%;
  margin-top: 2em;
  margin-left: 15em;
  margin-right: 15em;
  margin-bottom: 2em;
}

.MVP-title {
  margin: 0 auto;
}

.MVP-subtitle {
  font-style: italic;
  color: #3A4660;
  font-weight: bold;
}

.MVP-items li {
  text-align: left;
  list-style: initial;
  margin-left: 20em;
  margin-bottom: 1em;
}

.user-flow-primary-btn {
  display: block;
  width: 250px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  color: #3A4660;
  border-radius: 8px;
  font-weight: bold;
}

.contact-btns1 a:hover {
  color: #FECB5E;
  text-decoration: underline;
}
/**END INFORMATION**/

/**BEGIN WIREFRAME**/
.wireframe-subtitle {
}

#wireframe-section {
  overflow: hidden;
  height: auto;
  width: 100%;
}

.wireframe-image-one {
  margin: 0 auto;
  width: 50%;
  margin-left: 18em;
  margin-bottom: 2em;
}

.usability-subsection-header {
  background-color: rgba(201, 175, 152, 0.1);
}
/**END WIREFRAME**/

/** VISUAL DESIGN **/
#visual-section {
  overflow: hidden;
  height: auto;
  width: 100%;
}

.color-title {
  margin: 0 auto;
}

.logo-designs {
  margin-left: 22em;
}

.logo-subsection-header {
  margin-bottom: 2em;
}

.logo-image-one, .logo-image-two, .logo-image-three, .logo-image-four {
  border: 1px solid black;
  display: inline-block;
  width: 30%;
}

.color-subsection-header {
  text-align: center;
}

.body-three {
  font-size: 16px;
  margin-top: .5em;
  margin-bottom: .5em;
}

.colors {
  border-radius: 20px;
  padding: 10px;
}

.hifi {
  width: 50%;
  border: .5px;
  border-style: solid;
  margin-left: 18em;
  margin-right: 18em;
}

.desktop-prototype {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  background-color: #3A4660;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #3A4660;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

.mobile-prototype {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  background-color: #3A4660;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #3A4660;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

.typo-subsection-header {
  background-color: rgba(201, 175, 152, 0.1);
}

.hifi-subsection-header {
  background-color: rgba(201, 175, 152, 0.1);
  padding-bottom: 2em;
}

.final-subsection-header {
  background-color: rgba(201, 175, 152, 0.1);
}
/** END VISUAL DESIGN **/

/** LESSONS **/
#lessons-section {
  overflow: hidden;
  height: auto;
  margin-bottom: 5em;
}

.lessons-one-title, .lessons-two-title, .lessons-three-title, .changes-title {
  margin: 0 auto;
}

.contact-header {
  text-align: center;
  font-weight: bold;
  text-transform: lowercase;
  color: #758E85;
  margin-bottom: 0;
}

/** LESSONS **/
#lessons-section {
  height: auto;
}

.lessons-one {
  margin-left: 8em;
  width: 38%;
  float: left;
  text-align: center;
  padding: 2em;
}

.lessons-one p {
  margin-top: 1em;
  height: 300px;
}

.lessons-two {
  margin-right: 8em;
  width: 38%;
  float: right;
  text-align: center;
  padding: 2em;
}

.lessons-two p {
  margin-top: 1em;
  height: 300px;
}

.lessons-image {
  width: 2em;
  height: auto;
}

/** END LESSONS **/




/**MOBILE**/

@media (min-width: 320px) and (max-width: 575px) {
  .everyday-hero {
    margin: 0 auto;
    width: 100%;
  }

  #project-navigation {
    display: none;
  }

  h2 {
    font-family: "Montserrat";
    margin-top: 2em;
    margin-left: 3em;
    margin-right: 3em;
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
    color: #3A4660;
    text-transform: uppercase;
    font-size: 1.25em;
  }

  h3 {
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
    color: #3A4660;
    font-size: 1.25em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  h4 {
    font-family: "Sacramento";
    font-style: italic;
    padding-bottom: 1em;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.08em;
    color: #FECB5E;
    text-transform: lowercase;
  }

  h5 {
    font-family: "Montserrat";
    font-style: normal;
    text-align: left;
    margin-bottom: .938em;
    font-size: 1em;
  }

  h6 {
    font-family: "Montserrat";
    font-style: normal;
    margin-bottom: 1em;
    font-size: .938em;
    font-weight: bold;
    max-width: 624px;
    text-transform: uppercase;
    color: #3A4660;
  }

  p {
    font-family: "Montserrat";
    font-size: .875em;
    text-align: left;
    line-height: 180%;
    padding-bottom: 1em;
    max-width: 380px;
    margin: 0 auto;
    width: 100%;
  }

  .highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 65%, rgba(145, 172, 200, 0.5) 45%);
  }

  /**HERO**/

  .everyday-hero {
    width: 100%;
    height: 10%;
  }

  /**MOBILE OVERVIEW**/

  ul.listing {
    text-align: center;
    list-style-type: none;
    line-height: 150%;
  }

  .listing li {
    text-align: center;
    list-style-type: none;
    line-height: 150%;
  }

  body {
    font-family: "Montserrat";
    font-size: .875em;
    line-height: 180%;
  }

  #overview-section {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    height: auto;
    text-align: center;
    overflow: hidden;
  }

  .overview-header {
    margin: 0 auto;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-style: normal;
    font-weight: bold;
    text-transform: lowercase;
    color: #3A4660;
  }

  .overview-summary {
    margin-bottom: 2em;
    margin-top: 0.5em;
    text-align: center;
    color: black;
    text-transform: lowercase;
    font-weight: normal;
    font-family: "Montserrat";
  }

  .desktop-prototype-primary-btn {
    width: 250px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    background-color: #3A4660;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #3A4660;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .mobile-prototype-primary-btn {
    width: 250px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    background-color: #3A4660;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #3A4660;
    color: white;
    border-radius: 8px;
    font-weight: bold;
  }

  .project-details {
    font-size: .875em;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
  }

  .role-icon, .deliverable-icon, .design-icon {
    align-items: center;
    width: 2.5em;
    margin-bottom: 1em;
  }

  .roles {
    width: 33%;
    float: left;
    text-align: center;
  }

  .deliverable {
    display: inline-block;
    text-align: center;
    width: 33%;
  }

  .design-tools {
    float: right;
    text-align: center;
    width: 33%;
  }

  .box-challenge {
    width: 100%;
    background-color: rgba(201, 175, 152, 0.1);
  }

  .box-problem {
    width: 100%;
    background-color: rgba(201, 175, 152, 0.1);
  }

  .challenge-title, .challenge-subtitle, .problem-title, .problem-subtitle {
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
  }

  .challenge-desc, .problem-desc {
    text-align: left;
    margin-left: 6em;
    margin-right: 6em;
  }

  #discovery-section {
    overflow: hidden;
    height: auto;
  }

  .comp {
    margin-left: 23em;
    margin-bottom: 2em;
  }

  .google, .evernote, .pinterest {
    width: 2em;
    margin: 0 auto;
  }

  .swot-primary-btn {
    display: block;
    width: 250px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #3A4660;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 2em;
  }

  .user-survey {
    background-color: rgba(201, 175, 152, 0.1);
    padding-bottom: 2em;
  }

  .daily, .responsive, .bookmark, .collaboration {
    display: none;
  }

  .result-one, .result-two, .result-three, .result-four {
    margin: 0 auto;
  }

  .percentage {
    font-size: 0.875em;
    width: 80%;
    text-align: center;
  }

  .percentages {
    margin: 0 auto;
    margin-bottom: .5em;
  }

  .results {
    column-count: 2;
    margin-left: 4em;
    margin-right: 4em;
    column-gap: auto;
    column-width: 100%;
  }

  .user-personas {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .persona-one {
    text-align: center;
    width: 30%;
    float: left;
    margin-left: 8em
  }

  .persona-one h5 {
    text-align: center;
      margin-bottom: 1em;
  }

  .motivations, .frustrations {
    text-align: left;
  }

  .name {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  .persona-two {
    margin-right: 8em;
    text-align: center;
    width: 30%;
    float: right;
  }

  .persona-two h5 {
    text-align: center;
    margin-bottom: 1em;
  }

  .emma {
    width: 10em;
    height: 14em;
    border-radius: 20px;
  }

  .jake {
    width: 10em;
    height: 14em;
    border-radius: 20px;
  }

  /**BEGIN INFORMATION**/
  #information-section {
    overflow: hidden;
    height: auto;
  }

  .info-subsection-header {
  }
  .user-flows {
    background-color: rgba(201, 175, 152, 0.1);
  }
  .example-mvp {
    padding-top: 2em;
    margin: 0 auto;
    text-align: left;
    font-style: italic;
    color: #3A4660;
  }

  .example-mvp-image {
    margin: 0 auto;
    width: 65%;
    margin-top: 2em;
    margin-left: 15em;
    margin-right: 15em;
    margin-bottom: 2em;
  }

  .MVP-title {
    margin: 0 auto;
  }

  .MVP-subtitle {
    font-style: italic;
    color: #3A4660;
    font-weight: bold;
  }

  .MVP-items li {
    text-align: left;
    list-style: initial;
    margin-left: 20em;
    margin-bottom: 1em;
  }

  .user-flow-primary-btn {
    display: block;
    width: 250px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #3A4660;
    border-radius: 8px;
    font-weight: bold;
  }

  .contact-btns1 a:hover {
    color: #FECB5E;
    text-decoration: underline;
  }
  /**END INFORMATION**/

  /**BEGIN WIREFRAME**/
  .wireframe-subtitle {
  }

  #wireframe-section {
    overflow: hidden;
    height: auto;
    width: 100%;
  }

  .wireframe-image-one {
    margin: 0 auto;
    width: 50%;
    margin-left: 18em;
    margin-bottom: 2em;
  }

  .usability-subsection-header {
    background-color: rgba(201, 175, 152, 0.1);
  }
  /**END WIREFRAME**/

  /** VISUAL DESIGN **/
  #visual-section {
    overflow: hidden;
    height: auto;
    width: 100%;
  }

  .color-title {
    margin: 0 auto;
  }

  .logo-designs {
    margin-left: 22em;
  }

  .logo-subsection-header {
    margin-bottom: 2em;
  }

  .logo-image-one, .logo-image-two, .logo-image-three, .logo-image-four {
    border: 1px solid black;
    display: inline-block;
    width: 30%;
  }

  .color-subsection-header {
    text-align: center;
  }

  .body-three {
    font-size: 16px;
    margin-top: .5em;
    margin-bottom: .5em;
  }

  .colors {
    border-radius: 20px;
    padding: 10px;
  }

  .hifi {
    width: 50%;
    border: .5px;
    border-style: solid;
    margin-left: 18em;
    margin-right: 18em;
  }

  .desktop-prototype {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    background-color: #3A4660;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #3A4660;
    color: white;
    border-radius: 8px;
    font-weight: bold;
  }

  .mobile-prototype {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    background-color: #3A4660;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #3A4660;
    color: white;
    border-radius: 8px;
    font-weight: bold;
  }

  .typo-subsection-header {
    background-color: rgba(201, 175, 152, 0.1);
  }

  .hifi-subsection-header {
    background-color: rgba(201, 175, 152, 0.1);
    padding-bottom: 2em;
  }

  .final-subsection-header {
    background-color: rgba(201, 175, 152, 0.1);
  }
  /** END VISUAL DESIGN **/

  /** LESSONS **/
  #lessons-section {
    overflow: hidden;
    height: auto;
    margin-bottom: 5em;
  }

  .lessons-one-title, .lessons-two-title, .lessons-three-title, .changes-title {
    margin: 0 auto;
  }

  .contact-header {
    text-align: center;
    font-weight: bold;
    text-transform: lowercase;
    color: #758E85;
    margin-bottom: 0;
  }

  /** LESSONS **/
  #lessons-section {
    height: auto;
  }

  .lessons-one {
    margin-left: 8em;
    width: 38%;
    float: left;
    text-align: center;
    padding: 2em;
  }

  .lessons-one p {
    margin-top: 1em;
    height: 300px;
  }

  .lessons-two {
    margin-right: 8em;
    width: 38%;
    float: right;
    text-align: center;
    padding: 2em;
  }

  .lessons-two p {
    margin-top: 1em;
    height: 300px;
  }

  .lessons-image {
    width: 2em;
    height: auto;
  }
}
