/**OVERALL PAGE**/
::selection {
    background-color: #f0daa4;
    color: black;
}

.subsection {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}


.subsection-header {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.project-images {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.persona-images {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.image-section {
  margin-bottom: 40px;
  width: 100%;
}

.comp-desc {
  border-left: 2px solid #b8c1ec;
  padding-left: 20px;
  margin-top: 1em;
  margin-bottom: 0;
}

/*PROJECT FONT*/

h5 {
  font-size: 18px !important;
  font-family: "Montserrat";
  font-weight: bolder;
  letter-spacing: .20em;
}

h6 {
  font-size: 14px !important;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: .5em;
}

p {
  font-size: 14px !important;
  max-width: 75ch;
  line-height: 28px;
  font-family: "Roboto";
  margin-left: auto;
  margin-right: auto;
  color: #121629;
}

.fa-hand-holding-heart, .fa-filter, .fa-paw, .fa-city {
  color: #121629;
}

/**HERO**/
.overview-summary {
  max-width: 46ch;
}


.project-row {
  display: flex;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.overview-title {
  padding-top: 25px;
}

.overview-details {
  margin-left: auto;
  margin-right: auto;
}

/*HERO*/
.project-hero-image {
  width: 72%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 4em;
}

.navigation {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 74%;
  margin-top: 1em;
}

.bg-light {
  background-color: #d4d8f0 !important;
}

.bg-results {
  background-color:#d4d8f0;
}

.text-secondary {
  color: #ffaf12;
}

.project-section {
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-title {
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #232946;
  background-color: #232946;
  color: white;
  padding: 10px;
}

.project {
  color: #ffaf12;
  font-size: 14px;
}

.btn-outline-project{
   border-color: #ffaf12;
   background-color: #ffffff;
   color: #ffaf12;
   width: 13.5em;
   border-width: 1px;
   border-radius: 0;
 }

 .btn-outline-project:hover {
   border-color: #ffaf12;
   background-color:rgba(254, 175, 18, .4);
   color: #ffaf12;
  }


  /** PROJECT NAVIGATION BAR**/

  #project-navigation {
    margin-top: 10px;
  }

  ul.project-navbar {
    list-style: none;
    font-size: 14px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    padding: 0;
    text-transform: uppercase;
  }

  .project-navbar li a{
    color: #6c757d;
  }

  .project-navbar li a:hover {
    text-decoration: none;
    color:#ffaf12;
  }



/**OVERVIEW**/

ul.listing {
  text-align: center;
  list-style-type: none;
  line-height: 120%;
}

.listing li {
  text-align: center;
  list-style-type: none;
  line-height: 180%;
  font-size: 12px;
}

.role-icon, .deliverable-icon, .design-icon {
  align-items: center;
  width: 1em;
  margin-bottom: 1em;
}

.roles {
  width: 33%;
  float: left;
  text-align: center;
}

.deliverable {
  display: inline-block;
  text-align: center;
  width: 33%;
}

.design-tools {
  float: right;
  text-align: center;
  width: 33%;
}







.daily {
  width: 2.5em;
  height: auto;
  margin-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.responsive {
  width: 2.5em;
  display: block;
  height: auto;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.bookmark {
  width: 2.5em;
  height: auto;
  display: block;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.collaboration {
  width: 2.5em;
  height: auto;
  display: block;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.result-one, .result-two, .result-three, .result-four {
  margin: 0 auto;
}






/**BEGIN INFORMATION**/

.example-mvp {
  margin-bottom: 40px;
  font-size: 20px !important;
  width: 70%;
  line-height: 40px;
}

.MVP-items li {
  width: 90%;
  text-align: left;
  list-style: initial;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 14px;

}

.user-flow-primary-btn {
  border-color: ##798fa8;
  background-color: #ffaf12;
  color: #ffffff;
  border-width: 1px;
  display: inline-block;
  margin: 5px;
}

.contact-btns1 a:hover {
  color: #FECB5E;
}

.contact-btns-2 {
  margin-top: .5em;
  margin-bottom: 2em;
  text-align: center;
}

.contact-btns-2 a:hover {
  color: #FECB5E;
}
/**END INFORMATION**/

/**BEGIN WIREFRAME**/


.wireframe-image-one {
  margin: 0 auto;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.usability-subsection-header {
  background-color: rgba(201, 175, 152, 0.1);
}
/**END WIREFRAME**/

/** VISUAL DESIGN **/


.logo-designs {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

.logo-subsection-header {
  margin-bottom: 2em;
}

.logo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.color-subsection-header {
  text-align: center;
}

.body-three {
  font-size: 16px;
  margin-top: .5em;
  margin-bottom: .5em;
}

.colors {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.hifi {
  width: 60%;
  border: .5px;
  border-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.desktop-prototype {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  background-color: #3A4660;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #3A4660;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.mobile-prototype {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  background-color: #3A4660;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #3A4660;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.typo-subsection-header {
  background-color: rgba(201, 175, 152, 0.1);
  padding-bottom: 2em;
}

.text {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hifi-subsection-header {
  background-color: rgba(201, 175, 152, 0.1);
  padding-bottom: 2em;
}

.final-subsection-header {
  background-color: rgba(201, 175, 152, 0.1);
  padding-bottom: 2em;
}

.pref-subsection-header {
  padding-bottom: 2em;
}

.pref-subsection-header p{
  padding-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

.pref-one {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 68%;
}

.pref-two {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 68%;
}

.pref-three {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 68%;
}

.one {
  width: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1em;
}

.two {
  width: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1em;
}

.three {
  width: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1em;
}

.color-subsection-header {
  padding-bottom: 2em;
}
/** END VISUAL DESIGN **/

/** LESSONS **/

.lessons-one-title, .lessons-two-title, .lessons-three-title, .lessons-four-title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
}

.lesson-one, .lesson-two, .lesson-three, .lesson-four p {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.contact-header {
  text-align: center;
  font-weight: bold;
  text-transform: lowercase;
  color: #758E85;
  margin-bottom: 0;
}
.flex-grid-two {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.lessons-image {
  width: 2em;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

/** END LESSONS **/

/**MOBILE**/
/**MOBILE**/
/**MOBILE**/

@media (min-width: 320px) and (max-width: 575px) {


  #project-navigation {
    display: none;
  }

  h1 {
    font-family: "Montserrat";
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
    color: #3A4660;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.25em;
  }

  h2 {
    font-family: "Montserrat";
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
    color: #3A4660;
    text-transform: uppercase;
    font-size: 1.625em;
    line-height: 1.15em;
  }

  h3 {
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
    color: #3A4660;
    font-size: 1.375em;
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1.14em;
  }

  h4 {
    font-family: "Sacramento";
    font-style: italic;
    padding-bottom: 1em;
    font-size: 1.625em;
    text-align: center;
    font-weight: bold;
    color: #FECB5E;
    text-transform: lowercase;
    line-height: 1.11em;
    max-width: auto;
  }

  h5 {
    font-family: "Montserrat";
    font-style: normal;
    text-align: left;
    margin-bottom: 1em;
    font-size: 1.125em;
    line-height: 1.11em;
  }

  h6 {
    font-family: "Montserrat";
    font-style: normal;
    margin-bottom: 1em;
    font-size: 1.11em;
    font-weight: bold;
    max-width: 624px;
    text-transform: uppercase;
    color: #3A4660;
    line-height: 1.11em;
  }

  p {
    font-family: "Montserrat";
    font-size: 1em;
    text-align: left;
    line-height: 1.25em;
    padding-bottom: 1em;
    width: 80%;
    margin: 0 auto;
  }

  .highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 55%, rgba(86, 92, 70, 0.5) 45%);
  }



  /**HERO**/


  /**MOBILE OVERVIEW**/

  ul.listing {
    text-align: center;
    list-style-type: none;
    line-height: 150%;
  }

  .listing li {
    text-align: center;
    list-style-type: none;
    line-height: 150%;
  }

  body {
    font-family: "Montserrat";
    font-size: 1em;
    line-height: 1.25em;
  }

  #overview-section {
    margin-top: 1em;
    margin-bottom: 1em;
    height: auto;
    text-align: center;
    overflow: hidden;
  }

  .overview-header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-style: normal;
    font-weight: bold;
    text-transform: lowercase;
    text-align: center;
    font-size: 2.5em;
    color: #3A4660;
  }

  .overview-summary {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 0.5em;
    text-align: center;
    color: black;
    text-transform: lowercase;
    font-size: 1.25em;
    font-weight: normal;
    font-family: "Montserrat";
  }

  .desktop-prototype-primary-btn {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 0.875em;
    text-align: center;
    background-color: #3A4660;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #3A4660;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    width: 280px;
  }

  .mobile-prototype-primary-btn {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 0.875em;
    text-align: center;
    background-color: #3A4660;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #3A4660;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    width: 280px;
    margin-top: 1em;
  }

  .project-details {
    font-size: 0.875em;
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .role-icon, .deliverable-icon, .design-icon {
    align-items: center;
    width: 2.5em;
    margin-bottom: 1em;
  }

  .roles {
    width: 33%;
    float: left;
    text-align: center;
  }

  .deliverable {
    display: inline-block;
    text-align: center;
    width: 33%;
  }

  .design-tools {
    float: right;
    text-align: center;
    width: 33%;
  }

  .box-challenge {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
    width: 100%;
    height: auto;
    background-color: rgba(201, 175, 152, 0.1);
  }

  .box-problem {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: auto;
    background-color: rgba(201, 175, 152, 0.1);
  }

  .challenge-title, .challenge-subtitle, .problem-title, .problem-subtitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .challenge-desc, .problem-desc {
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #discovery-section {
    overflow: hidden;
    height: auto;
  }

  .comp {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2em;
  }

  .swot-primary-btn {
    display: block;
    width: 250px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #3A4660;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 2em;
  }

  .user-survey {
    background-color: rgba(201, 175, 152, 0.1);
    padding-bottom: 2em;
  }
  .daily {
    width: 2.5em;
    height: auto;
    margin-bottom: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .responsive {
    width: 2.5em;
    display: block;
    height: auto;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .bookmark {
    width: 2.5em;
    height: auto;
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .collaboration {
    width: 2.5em;
    height: auto;
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .result-one, .result-two, .result-three, .result-four {
    margin: 0 auto;
  }

  .percentage {
    font-size: 0.875em;
    width: 60%;
    text-align: center;
  }

  .percentages {
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    margin-bottom: .5em;
  }

  .results {
    column-count: 2;
    margin-left: auto;
    margin-right: auto;
    column-gap: auto;
    column-width: 100%;
  }

  .user-personas {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .persona-one {
    text-align: center;
    max-width: 80%;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .persona-one h5 {
    text-align: center;
    margin-bottom: 1em;
  }

  .name {
    font-size: 1.25em;
    margin-bottom: 0;
    color: #FECB5E;
  }

  .persona-two {
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    max-width: 80%;
    float: none;
  }

  .derek {
    width: auto;
    height: 8em;
    border-radius: 50%;
    margin-bottom: 1em;
  }

  .emma {
    width: auto;
    height: 8em;
    border-radius: 50%;
    margin-bottom: 1em;
  }

  /**BEGIN INFORMATION**/
  #information-section {
    overflow: hidden;
    height: auto;
  }

  .user-flows {
    background-color: rgba(201, 175, 152, 0.1);
  }
  .example-mvp {
    padding-top: 2em;
    margin: 0 auto;
    text-align: left;
    font-style: italic;
    color: #3A4660;
  }

  .example-mvp-image {
    margin: 0 auto;
    width: 80%;
    display: block;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
  }

  .MVP-title {
    text-align: left;
    width: 80%;
    margin-bottom: 1em;
  }

  .MVP-subtitle {
    font-style: italic;
    color: #3A4660;
    font-weight: bold;
  }

  .MVP-items li {
    width: 80%;
    text-align: left;
    list-style: initial;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }

  .user-flow-primary-btn {
    display: block;
    width: 250px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #3A4660;
    border-radius: 8px;
    font-weight: bold;
  }

  .contact-btns1 a:hover {
    color: #FECB5E;
  }

  .contact-btns-2 {
    margin-top: .5em;
    margin-bottom: 2em;
    text-align: center;
  }

  .contact-btns-2 a:hover {
    color: #FECB5E;
  }
  /**END INFORMATION**/

  /**BEGIN WIREFRAME**/

  .wireframe-image-one {
    margin: 0 auto;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
  }


  /**END WIREFRAME**/

  /** VISUAL DESIGN **/
  #visual-section {
    overflow: hidden;
    height: auto;
  }

  .color-title {
    margin: 0 auto;
  }

  .logo-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
  }

  .logo-subsection-header {
    margin-bottom: 2em;
  }

  .color-subsection-header {
    text-align: center;
  }

  .colors {
    border-radius: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 14%;
  }

  .hifi {
    width: 80%;
    border: .5px;
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .desktop-prototype {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    background-color: #3A4660;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #3A4660;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-bottom: 1em;
  }

  .mobile-prototype {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    background-color: #3A4660;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #3A4660;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }

  .typo-subsection-header {
    background-color: rgba(201, 175, 152, 0.1);
    padding-bottom: 2em;
  }

  .text {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .hifi-subsection-header {
    background-color: rgba(201, 175, 152, 0.1);
    padding-bottom: 2em;
  }

  .final-subsection-header {
    background-color: rgba(201, 175, 152, 0.1);
    padding-bottom: 2em;
  }

  .pref-subsection-header {
    padding-bottom: 2em;
  }

  .pref-subsection-header p{
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
  }

  .pref-one {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 90%;
  }

  .pref-two {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 90%;
  }

  .pref-three {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .one {
    width: 2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1em;
  }

  .two {
    width: 2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1em;
  }

  .three {
    width: 2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1em;
  }

  /** END MOBILE VISUAL DESIGN **/

  /** BEGIN MOBILE LESSONS **/
  #lessons-section {
    height: auto;
    overflow: hidden;
  }
  .flex-grid-two {
  display: block;
}

.lesson-one, .lesson-two, .lesson-three, .lesson-four {
  margin: 0 auto;
}

.lesson-one, .lesson-two, .lesson-three, .lesson-four p {
  margin-left: auto;
  margin-right: auto;
}

}
  /** END MOBILE LESSONS **/
