*, *:after, *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #FFFFFF;
  font-family: "Poppins";
}

#contact {
  display: block;
  width: 100%;
  /* height: 100vh; */
}

.container {
  width: 100%;
  overflow: hidden;
}


p {
  font-size: 1.6rem;
  line-height: 120%;
  font-family: 'Poppins';
}

.navbar .fixed {
  position: fixed; /* Set the navbar to fixed position */
  z-index: 2000;
  margin-left: 32.5rem;
}

#main-nav {
  display: block;
  position: absolute;
  width: 100vw;
  height: 90rem;
  margin-top: -10rem;
  margin: -10rem 0rem 0 57.5rem;
  padding: 50%;
  padding-top: 13rem;
  background: #FB7E6C;
  opacity: 0.95;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;/*stop flickering in safari*/

  ul#main-nav li {
  text-align: center;
  position: relative;
  z-index: 2500;
  font-family: 'Poppins';
  font-size: 6rem;
  padding-bottom: 4rem;
  list-style-type: none;
  margin: 0 auto;
}

.nav-link {
  text-decoration: none;
  color: #001F40;
  font-size: 3rem;
 }

.logo-size {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 32px;
  top: 22px;
}

header {
   background: url(../images/ux-portfolio-homepage.jpeg) center / cover;
   height: 60vh;
   justify-content: center;
   text-align: center;
 }

 footer.mdl-mini-footer {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
