#stack-hero {
  width: 100%;
  height: 31.25rem;
  margin: auto;
  align-items: center;
}

.stack-hero {
  height: auto;
  width: auto;
  margin-left: 8rem;
  margin-right: 8rem;
}

#project-navigation {
  width: 100%;
  margin-top: 2rem;
}

ul.project-navbar {
  list-style: none;
  font-size: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  padding: 0;
}

ul.listing {
  text-align: center;
  list-style-type: none;
  line-height: 150%;
}

.listing li {
  text-align: center;
  list-style-type: none;
  line-height: 150%;
}

body {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 150%;
}

#overview-section {
  margin-top: 5rem;
  height: 1300px;
  width: 100%;
  text-align: center;
}

.final-product {
  margin-top: 10rem;
  width: 40%;
  border-style: solid;
  border-width: thin;
  border-color: black;
}
.final-product-two {
  margin-top: 10rem;
  float: right;
  width: 40%;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.overview-header {
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  text-transform: lowercase;
  text-align: center;
}

.overview-summary {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  font-weight: normal;
  text-align: center;
  color: black;
  text-transform: lowercase;
  font-weight: normal;
  font-size: 18px;
  font-family: "Montserrat";
}

.desktop-prototype-primary-btn {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  background-color: white;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #3A4660;
  color: #3A4660;
  border-radius: 8px;
  font-weight: bold;
}

.mobile-prototype-primary-btn {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  background-color: white;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #3A4660;
  color: #3A4660;
  border-radius: 8px;
  font-weight: bold;
}

.project-details {
  font-size: 12px;
  margin-top: 3rem;
  margin-bottom: 5rem;
  text-align: center;
  margin-left: 8rem;
  margin-right: 8rem;
}

.role-icon, .deliverable-icon, .design-icon {
  align-items: center;
  width: 2rem;
  margin-bottom: 1.5rem;
}

.roles {
  width: 33%;
  float: left;
  text-align: center;
}

.deliverable {
  display: inline-block;
  text-align: center;
  width: 33%;
}

.design-tools {
  float: right;
  text-align: center;
  width: 33%;
}

h1 {
  text-align: left;
  font-weight: bold;
  margin-bottom: 5rem;
  margin-left: 8rem;
  margin-right: 8rem;
  text-transform: uppercase;
  font-size: 2rem;
}

h2 {
  margin-left: 8rem;
  margin-right: 8rem;
  text-align: left;
  margin-bottom: .5rem;
  font-size: 1.75rem;
  font-weight: bold;
  color: #758E85;
  max-width: 624px;
  text-transform: uppercase;
  font-family: "open sans";
}

h3 {
  margin-left: 8rem;
  margin-right: 8rem;
  font-style: italic;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  max-width: 624px;
}

h4 {
  margin-left: 8rem;
  margin-right: 8rem;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  max-width: 624px;
}

h5 {
  margin-left: 8rem;
  margin-right: 8rem;
  font-style: normal;
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1rem;
  max-width: 624px;
}

h6 {
  font-style: normal;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  max-width: 624px;
  text-transform: uppercase;
}

p {
  margin-left: 8rem;
  margin-right: 8rem;
  font-size: 1rem;
  text-align: left;
  margin-bottom: 1rem;
  max-width: 624px;
}

#discovery-section {
  height: 1100px;
  margin-top: 20rem;
}

.comp {
  height: auto;
  width: 35%;
  float: right;
  margin-right: 8rem;
}

.competitive-desc {
  max-width: 450px;
}

.persona-one {
  width: 38%;
  height: auto;
  float: left;
  margin-left: 8rem;
}

.persona-two {
  width: 38%;
  height: auto;
  float: right;
  margin-right: 8rem;
}

.user-survey {
  margin-top: 8rem;
  margin-bottom: 5rem;
  width: 100%;
}

.box-challenge {
  width: 38%;
  float: left;
  display: table;
}

.box-problem {
  width: 38%;
  float: right;
  margin-right: 256px;
  display: table;
}

.challenge-title, .challenge-subtitle, .problem-title, .problem-subtitle {
  text-align: center;
  width: 100%;
}

.challenge-desc, .problem-desc {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.daily, .responsive, .bookmark, .collaboration {
  width: 90%;
  height: auto;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: 1rem;
}

.result-one, .result-two, .result-three, .result-four {
  width: 60%;
  margin-right: 8rem;
}

.survey-desc {
  margin-bottom: 3rem;

}
.percentage {
  font-size: 12px;
  text-align: center;
  margin-left: 8rem;
  margin-right: 8rem;
}

.percentages {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  font-size: 40px;
  margin-bottom: 1.5rem;
}

.results {
  column-count: 4;
  margin-right: 8rem;
  column-gap: auto;
  column-width: 100%;
}

/**BEGIN INFORMATION**/

#information-section {
  height: 720px;
  margin-top: 20rem;
  width: auto;
}

.MVP-items {
  margin-left: 8rem;
  line-height: 150%;
}

.example-mvp {
  margin-top: 2rem;
}

.example-mvp-image {
  width: 80%;
  margin-left: 8rem;
  margin-right: 8rem;
  align-items: center;
}

/**END INFORMATION**/

/**BEGIN WIREFRAME**/

#wireframe-section {
  height: 1050px;
  margin-top: 20rem;
  width: auto;
}

.wireframe-image-one {
  float:left;
  margin-left: 8rem;
  width: 36%;
  border-width: thin;
  border-style: solid;
  border-color: black;
}

.wireframe-image-two {
  width: 36%;
  border-width: thin;
  border-style: solid;
  border-color: black;
  float: right;
  margin-right: 8rem;
}

.wireframe-image-three {
  margin-top: 1rem;
  float:left;
  margin-left: 8rem;
  width: 36%;
  border-width: thin;
  border-style: solid;
  border-color: black;
}

.wireframe-image-four {
  margin-top: 1rem;
  width: 36%;
  border-width: thin;
  border-style: solid;
  border-color: black;
  float: right;
  margin-right: 8rem;
}

.feedback {
  margin-left: 8rem;
  margin-right: 8rem;
  max-width: 624px;
  font-style: italic;
  line-height: 150%;
  list-style-type: circle;
}

.usability-subsection-header {
  margin-top: 45rem;
}

/**END WIREFRAME**/


#branding-section {
  height: 600px;
  margin-top: 20rem;
  width: auto;
}

.logo-image, .typo-image, .color-image {
  margin-left: 8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 8rem;
}

.color-image {
  width: 25rem;
}

#visual-section {
  height: 1200px;
  margin-top: 20rem;
  width: auto;
}

.hifi-subsection-header {
  margin-bottom: 2rem;
}
.hifi-one, .hifi-two, .hifi-three, .hifi-four {
  margin-top: 2rem;
  width: 20%;
  height: auto;
  margin-left: 8rem;
  border-width: thin;
  border-style: solid;
  border-color: black;
}

.preference-image {
  margin-left: 8rem;
  height: auto;
  width: 38%;
  float: right;
  margin-right: 8rem;
}

.preference-desc {
  margin-top: 2rem;
  max-width: 360px;
}

#lessons-section {
  height: 600px;
  margin-top: 20rem;
  width: auto;
}

#contact {
  width: 100%;
  text-align: center;
}

.contact-header {
  text-align: center;
  max-width: 100%;
}

.copyright-name {
  font-size: 10px;
  float: left;
  margin: 32px;
}

.social-media li{
  float: right;
  display: inline-block;
}

@media (min-width: 320px) and (max-width: 575px) {
  .stack-hero {
    margin: 0 auto;
    width: 100%;
  }
  .overview-header {
    font-size: 36px;
  }
  .overview-summary {
    font-size: 16px;
  }
  .desktop-prototype-primary-btn {
    margin-bottom: 1em;
    display: inline-block;
    float: left;
    width: 190px;
    margin-left: 2em;
  }

  .mobile-prototype-primary-btn {
    margin-bottom: 1em;
    width: 190px;
    margin-right: 2em;
  }
  .project-details {
    font-size: 12px;
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
  }
  h1 {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.5em;
  }

  h2 {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.5em;
    font-size: 1.25em;
  }

  h3 {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.5em;
    font-size: 1em;
    max-width: 80%;
  }

  h4 {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    font-size: .875em;
    max-width: 80%;
  }

  h5 {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    font-size: .65em;
    max-width: 624px;
  }

  h6 {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1rem;
    font-size: 0.875em;
    max-width: 624px;
  }

  p {
    margin-left: 2em;
    margin-right: 2em;
    font-size: .875rem;
    text-align: left;
    margin-bottom: 1rem;
    max-width: 624px;
  }
  .challenge-title, .challenge-subtitle, .problem-title, .problem-subtitle {
    text-align: center;
    width: 100%;
  }

  .challenge-desc, .problem-desc {
    width: 100%;
    text-align: center;
  }
  .box-challenge {
    width: 100%;
    margin: 0 auto;
  }

  .box-problem {
    width: 100%;
    margin: 0 auto;
  }
  .copyright p{
    font-size: 1em;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  .social-media {
    margin: 5em;
    padding-bottom: .5em;
  }

  #discovery-section {
    height: 2300px;
    margin-top: 20rem;
  }
  .comp {
    height: auto;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .competitive-desc {
    width: 80%;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .persona-one {
    width: 80%;
    margin: 0;
  }

  .persona-two {
    margin-top: 2em;
    width: 80%;
  }

  .user-survey {
    margin-top: 8rem;
    margin-bottom: 5rem;
    width: 100%;
  }
  .daily, .responsive, .bookmark, .collaboration {
    width: 60%;
    height: auto;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2rem;
  }
  .result-one, .result-two, .result-three, .result-four {
    width: 100%;
    margin: 0 auto;
  }
  .survey-desc {
    margin-bottom: 3rem;
    margin-left: 2em;
    margin-right: 2em;
    width: 80%;
  }
  .percentage {
    font-size: .875em;
    margin-left: 2em;
    margin-right: 2em;
    width: 50%;
  }
  .percentages {
    font-size: 2em;
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
  }

  .results {
    column-count: 2;
    margin-right: 2em;
    margin-left: 2em;
    column-gap: auto;
    column-width: 100%;
  }
  #information-section {
    height: 750px;
    margin-top: 20rem;
    width: auto;
  }

  .MVP-items {
    margin-left: 2em;
    line-height: 150%;
  }

  .example-mvp {
    margin-top: 2rem;
  }

  .example-mvp-image {
    width: 80%;
    margin-left: 2em;
    margin-right: 2em;
    align-items: center;
  }
  #wireframe-section {
    height: 1700px;
    margin-top: 5em;
    width: 100%;
  }

  .wireframe-image-one {
    margin-left: 2em;
    margin-right: 2em;
    width: 80%;
  }

  .wireframe-image-two {
    margin-left: 2em;
    margin-right: 2em;
    width: 80%;
    float: left;
    margin-top: 1em;
  }

  .wireframe-image-three {
    margin-left: 2em;
    margin-right: 2em;
    width: 80%;
  }

  .wireframe-image-four {
    float: left;
    margin-left: 2em;
    margin-right: 2em;
    width: 80%;
    margin-bottom: 2em;
  }

  .feedback {
    margin-left: 2em;
    margin-right: 2em;
    width: 80%;
    list-style-type: circle;
  }
  #branding-section {
    height: 400px;
    margin-top: 20em;
    width: 100%;
  }

  .logo-image, .typo-image, .color-image {
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 2rem;
    margin-right: 2em;
    width: 30em;
  }

  .color-image {
    width: 20em;
  }

  #visual-section {
    height: 2000px;
    margin-top: 20rem;
    width: 100%;
  }

  .hifi-subsection-header {
    margin-bottom: 2rem;
    margin-left: 2em;
  }
  .hifi-one, .hifi-two, .hifi-three, .hifi-four {
    width: 50%;
  }

  .preference-image {
    margin-left: 2em;
    height: auto;
    width: 80%;
    float: left;
    margin-right: 2em;
  }

  .preference-desc {
    margin-top: 15em;
    width: 80%;
    text-align: center;
  }

  #lessons-section {
    height: 600px;
    margin-top: 20rem;
    width: 100%;
  }

}
