*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  margin: 0;
  padding: 0;
}

.nav-bar {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-top: .5rem;
}

.logo-size {
  width: 70px;
  height: 60px;
}

ul.main-header {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  padding: 0;
}

ul, li {
  list-style: none;
}

li.main-header li {
  list-style-type: none;
  margin: 0 2%;
}

a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  margin: 0 40px;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}

/** HERO **/
#hero {
  width: auto;
  height: 420px;
  margin: auto;
  line-height: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 48%, rgba(237, 138, 99, 0.5) 45%);
}

.grid-hero {
  margin: auto;
  padding: 90px;
}

.hello {
  font-size: 40px;
  color: rgba(237, 138, 99, 1);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.headline, .tagline-one {
  font-size: 16px;
  width: 500px;
}

.work-link {
  margin-top: 2rem;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3A4660;
  font-weight: bold;
}

i.fa-caret-down {
  font-size: .8rem;
  padding: 5px;
  padding-bottom: 1rem;
  color: #3A4660
}

a.primary-btn {
  padding: 15px;
  border-radius: 10px;
  color: white;
  text-align: center;
  width: 200px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  display: inline-block;
  background-color: #3A4660
}

/**DESIGN PROCESS**/
#design {
  margin-top: 50rem;
  padding: 32px;
  margin-left: 91px;
  margin-right: 91px;
  height: 300px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.design-header {
  text-transform: uppercase;
  font-weight: bolder;
  margin-right: 64px;
  font-size: 20px;
  margin-bottom: 1.5rem;
  text-align: center;
}

.design-header-two {
  text-transform: uppercase;
  margin-left: 128px;
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 5rem;
  text-align: center;
}

.design-left {
  width: 33%;
  float: left;
  text-align: center;
}

.design-center {
  display: inline-block;
  text-align: center;
  width: 33%;
}

.design-right {
  float: right;
  text-align: center;
  width: 33%;
}

.paint-image {
  margin-top: .5rem;
  width: 5.5rem;
  height: 4.2rem;
  position: absolute;
}

.gif-image {
  width: 6rem;
  height: 6rem;
  position: relative;
}

.process-name {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.process-desc {
  font-size: 12px;
  line-height: 150%;
}
/**END DESIGN PROCESS**/

.testimonial-section {
  width: 100%;
  height: 300px;
  margin-top: 12rem;
  background-color: rgba(201, 175, 152, 0.2);
}

.references {
  padding: 50px;
  width: 60%;
  margin: auto;
  text-align: center;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  line-height: 2rem;
  font-size: 14px;
}

.reference-name {
  width: 60%;
  padding: 50px;
  margin: auto;
  text-align: right;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

/**BOTTOM CONTACT INFO**/
.contact-header {
  text-align: center;
  font-size: 48px;
  text-transform: lowercase;
  font-family: Sacramento;
  color: #3A4660;
}

.footer {
  position: absolute;
  width: 100%;
  text-align: right;
  left: 0;
  bottom: 0;
}

.contact-section {
  margin-top: 5rem;
  padding: 20px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
.copyright {
  padding-left: 32px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

.social-media ul,li {
  display: inline;
  float: right;
}

.social-media li a {
  display: inline;
  padding: 20px;
  text-decoration: none;
}

.social-media li a:hover {
  color: rgba(154, 77, 85, 0.5);
}

.return-top-bounce {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 12px;
}

.return-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #3A4660;
}

i.fa-caret-up {
  color: #3A4660;
  padding: 10px;
  font-size: 1rem;
}

.contact-btns {
  text-align: center;
}

.get-in-touch-primary-btn {
  margin-right: 1.5rem;
  width: 200px;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  background-color: white;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #3A4660;
  color: #3A4660;
  border-radius: 8px;
  font-weight: bold;
}

.download-resume-primary-btn {
  margin-right: 1.5rem;
  width: 200px;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  background-color: white;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #3A4660;
  color: #3A4660;
  border-radius: 8px;
  font-weight: bold;
}

/**FEATURED PROJECTS**/
.container-one {
  width: 50%;
  float: left;
  margin-left: 91px;
}

.container-two {
  width: 50%;
  float: right;
  margin-right: 91px;
}

.container-three {
  margin-top: 1.5rem;
  width: 40%;
  float: left;
  margin-left: 91px;
}

.container-four {
  margin-top: 1.5rem;
  width: 40%;
  float: right;
  margin-right: 91px;
}

.content {
  position: relative;
  width: auto;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(237, 138, 99, .8);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: black;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: lowercase;
  font-family: Montserrat;
}

.content-details p{
  color: black;
  font-weight: bold;
  font-size: 12px;
  line-height: 200%;
  text-transform: uppercase;
  font-family: Montserrat;
}

.fadeIn-top{
  top: 20%;
}
/**END FEATURED PROJECTS**/

@media screen and (max-width: 1024px) {
   header.mdl-layout__header {
     display: flex;
   }
 }

 @media screen and (min-width: 900px){
  .container-one, .container-two {
    width: 40%;
  }
}

@media screen and (max-width: 600px){
  .container-one, .container-two {
    display: block;
    width: 100%;
  }
}
