*, *:after, *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #FFFDFB;
  font-family: "Brandon Text Regular", "Josefin Sans", sans-serif;
  transition: all 500ms;
  will-change: background;
}

#contact {
  display: block;
  width: 100%;
  /* height: 100vh; */
}

.container {
  width: 100%;
  overflow: hidden;
}

.bg-header {
  background-image: linear-gradient(#FFF3ED, #FFFDFB);
}

html {
  font-size: 10px;
  font-family: 'Brandon Text Regular';
  color: #001F40;
}

p {
  font-size: 1.6rem;
  line-height: 120%;
  font-family: 'Brandon Text Regular';
}
