*, *:after, *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #FFFFFF;
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
}

.logo-size {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 32px;
  top: 22px;
}
